@import '_variables.css';

.botones{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

button{
  width: 20vw;
  height: 10vh;

  font-family: var(--font-text);
  font-size: 2rem;

  margin: 2%;
  border: none;
  border-radius: 10px;
}
button:hover{
  transform: scale(1.1);
}
button:active{
  filter: brightness(1.75);
}

#Inicio{
  background-color: var(--main-color);
}
#Continuar{
  background: rgb(0, 128, 0);
}
#Detener{
  background-color: rgb(185, 3, 3);
}
#Reiniciar{
  background-color: rgb(233, 233, 5);
}

.none{
  display: none;
}

@media (max-width: 800px){
 button{
   font-size: 1.5rem;
   width: 18vh;
   height: 9;
 }
}

@media (max-width: 600px){
 button{
   width: 16vh;
   height: 8vh;
   font-size: 1rem;
 }
}

@media (max-width: 450px){
  button{
   font-size: 1rem;
 }
}

.white{
  color: var(--font-color2);
}
.black{
  color: var(--font-color);
}